
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

/*-------Varaiables-----------*/
:root{
    /*Color*/
    --white-color:white;

    /*Espaciado*/
    --space: 0px;

    /*Tipografia*/
    --normal:12px;
    --font: font-family: 'Comic Neue', cursive;

    /*Effects*/
    --box: 5px 5px 7px 2px black;
}


html,body{
    padding: var(--space);
    margin: var(--space) auto;
    font-size: var(--normal);
    font-family: var(--font);
    max-width: 850px;
}

p,label{
    font-size: var(--normal);
}

nav{
    background-color: #2b1049;
    padding: 10px 50px 10px 30px;
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav li{
    padding-right: 20px;
    list-style: none;
}

nav a{
    color: var(--white-color);
    text-decoration: none;
}

nav a:hover{
    color: gray;
}

/*----------------------------Main section----------------------*/

.main-section{
    padding: 14%;
    text-align: center;
    margin-top: -40px;
}

.services{
    background-image: url(../images/services.jpg);
    max-height: 120px;
    max-width: 600px;
    background-size: cover;
    background-position: center top;
    padding: 15%;
    display: flex;
    justify-content: center;
}

.service{
    height: 580px;
    width: 500px;
    display: flex;
    flex-flow: wrap;
    place-content: space-between;
    margin-top: -200px;
}

.service .content{
    background-color: var(--white-color);
    padding: 5px;
    text-align: center;
    box-shadow: var(--box);
    width: 200px;
}

img{
    max-width: 100%;
}

.main-button{
    background-color: rgb(160, 36, 36);
    width: 100%;
    padding: 10px;
    font-size: var(--normal);
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.main-button:hover{
    background-color: rgb(220, 97, 97);
}



.description-section{
    display: flex;
    justify-content: space-between;
    margin-top: 105px;
    padding: 7%;
}

.description{
    border: 2px solid;
    border-radius: 2px;
    border-color: rgb(160, 36, 36);
    width: 200px;
    height: 300px;
    text-align: center;
}

/*-------------------Products-----------------*/

.container-products{
    padding: 10%;
}

/*-------------------Sale-------------------*/

.module-pay{
    background-color: var(--white-color);
    border: solid 2px rgb(160, 36, 36);
    padding: 5px;
}

.data{
    margin-top: 5px;
    width: 100%;
    height: 35px;
    border-radius: 2px;
    border: 1px solid black;
    box-sizing: border-box;
}

.module-pay .main-button{
    margin-top: 20px;
}

.row{
    padding: 5%;
}

/*----------------footer--------------------*/
.footer{
    background-color: #331351;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-right: 10px;
    padding-left: 100px;
    align-items: center;
}

.footer-image{
    vertical-align: middle;
}